body {
    font-family: Lexend, Helvetica, sans-serif;
    /* background-color: purple; */

    /*  */
    height: 1000px;
    width: 100%;

    /*  */
    position: relative;
}

.mega {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: white;


    border: 10px solid purple;
    border-radius: 25px;
    width: 50%;

}

/* .innerContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.inVals {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 20px;
}

.loginBtn {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 5px solid purple;
    border-radius: 30px;
    background-color: white;
    color: purple;
    font-weight: bold;

    margin-bottom: 40px;

    /*  */
    cursor: pointer;

    /*  */
    transition: background-color 0.35s, color 0.25s,
        padding 0.35s;
}

.loginBtn:hover {
    background-color: purple;
    color: white;
    padding-left: 45px;
    padding-right: 45px;
}

.loginBtn:active {
    opacity: 0.5;
}

.text1 {
    font-size: 25px;
    font-weight: 400;
}

a {
    font-weight: 900;
    text-decoration: none;
    color: purple;
    border: 5px soild orange;
}

span {
    color: purple;
    font-weight: 900;
    font-family: Lexend;
    font-size: 50px;

    /* Text animation */
    animation: typing 1s steps(40, end);
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(189, 189, 189, 0.2);
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.box {
    margin: 10px;
    font-weight: bold;
}