body {
    margin: 0;
    font-family: Arial;
}

#log {
    display: block;
    width: 100%;
    height: 600px;
    resize: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#input {
    display: block;
    width: 100%;
    border-width: 1px 0 1px 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    /* background-color: black; */
}

.btns {
    /* Button Structure */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

    /*  */
    font-weight: bold;
    background-color: white;
    color: orange;
    border: 5px solid orange;

    /*  */
    cursor: pointer;

    /*  */
    transition: background-color 0.35s,
        color 0.35s;


}

.btns:hover {
    background-color: orange;
    color: white;
}


.inputBar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100px;
    border-radius: 20px;

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin: 20px;
    margin-right: 50px;
}